.navigation-menu{
list-style: none;
display: flex;
align-items: center;
justify-content: center;
}

.navigation-menu li {
    margin: 0 20px;

}
.navigation-menu li a {
    text-decoration: none;
    color: rgb(245, 242, 242);
}
.navigation-menu li a:hover{
    color: yellow;
    color: 0.3s;
}
/* mobile view  */
.mobile-navigation{
    list-style: none ;
 
}
.mobile-navigation li{
    margin-top: 20px;
}
.mobile-navigation li a{
   text-decoration: none;
   font-size: 1.4rem;
   color: black;
   background-color: goldenrod;
}
